.red {
    background-color: red;
    color: red;
}
.key4 {
  /*-webkit-transform: rotate(180deg);     !* Chrome and other webkit browsers *!*/
  /*-moz-transform: rotate(180deg);        !* FF *!*/
  /*-o-transform: rotate(180deg);          !* Opera *!*/
  /*-ms-transform: rotate(180deg);         !* IE9 *!*/
  /*transform: rotate(180deg);             !* W3C compliant browsers *!*/

  /*!* IE8 and below *!*/
  /*filter: progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand');*/

  fill:green !important; /* override inline style */

}
#manage_btn {
    position: absolute;
    top: 40px;
    left: 20px;
}

svg {
   width: 100vw;
   height: 100vh;
   user-select: none;
}
body {
    overflow: hidden;
}